projeto.ipynb
.ipynb_checkpoints/
__pycache__
projeto-checkpoint.ipynb
.vscode/
src/.DS_Store
src/venv
src/__pycache__
src/modulos/__pycache__
imagens/
.venv/
formularios/
.virtual_documents/
test/
Switzerland_test.ipynb
Switzerland.ipynb
*.sh
.env
test_requirements